
body {
  background-color: rgb(41, 35, 95);
}

h1 {
  color: chartreuse;
  font-weight: 50px;
  text-align: center;
  font-family: Lucida Sans;
}

h2 {
  color: blueviolet;
  font-weight: bolder;
  text-align: center;
  font-family: Lucida Sans;
}

p {
  text-align: center;
  color: antiquewhite;
  font-weight: bolder;
}
h3 {
  font-size: 30px;
  font-weight: bolder;
  color:  rgb(101, 47, 114);
}
ul {
  font-size: 20px;
  color: mediumorchid;
}
h4 {
  font-size: 30px;
  font-weight: bolder;
  color:  rgb(101, 47, 114);
}

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25%;
    height: 300px;
    width: auto;
  }

  .kidpic {
    height: 300px;
    width: 200px;
    border-radius: 20%;
    display: inline-block;
    margin: auto;
    display: block;
  }

  .kidpics {
    display: flex;
    }

  
  .column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }

  .header {
    padding: auto;
    text-align: center;
    background: #5e1010;
    font-size: 15px;
   margin-left: 200px;
   margin-right: 200px;
  }

